@import "../../../../styles/common.scss";
/* ==================================================================== */
/* -------------------------------------------------------------------- */
/*                                                                      */
/*                            CONTROLS CSS                              */
/*                                                                      */
/* -------------------------------------------------------------------- */
/* ==================================================================== */

.controls-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2*$font-size;
}

.controls-section-header .MuiDivider-root::before {
    width: 0% !important;
}

.controls-section-header .MuiDivider-root::after {
    border-top: solid 2px $dark-grey !important;
}

.controls-section-header .MuiDivider-root {
    width: 50%;
}

.controls-section-header .MuiDivider-wrapper {
    font-size: 1.25*$font-size;
    font-weight: bold;
    padding-left: 0 !important;
}

.controls-section-header {
    margin-bottom: $font-size;
}

.toggle-options-body {
    display: flex;
    flex-direction: column;
    gap: 0.5*$font-size;
}

.toggle-options-item {
    display: flex;
    flex-direction: row;
    gap: $font-size;
}

.MuiSwitch-root {
    margin: auto 0 !important;
}

.toggle-options-item-label {
    margin: auto 0;
}

#expirationTimeInput {
    width: 3*$font-size !important;
    text-align: center;
    color: $logo-col2;
    font-weight: bold;
}

.cookie-table {
    width: 50%;
}

.cookie-table .MuiTableCell-root {
    white-space: 'nowrap';
    overflow: 'hidden';
    text-overflow: 'ellipsis';
}

.MuiButton-root {
    white-space: nowrap !important;
    padding: 0.5*$font-size 1.5*$font-size !important;
}

.MuiPaper-root {
    border: solid 1px #e7e7e7 !important;
    box-shadow: 2px 2px 8px lightgrey !important;
}

.filter-toolbar {
    width: 100%;
    display: flex;
    padding: $font-size;
    gap: $font-size;
    justify-content: space-evenly;
}

.search-bar, .type-filter-bar, .days-filter-bar {
    width: 33%;
}

.type-filter-bar .MuiFormControl-root, .search-bar .MuiFormControl-root, .days-filter-bar .MuiFormControl-root {
    width: 100% !important;
}