@import "./common.scss";
/* ==================================================================== */
/* -------------------------------------------------------------------- */
/*                                                                      */
/*                          DASHBOARD CSS                               */
/*                                                                      */
/* -------------------------------------------------------------------- */
/* ==================================================================== */


.main {
    display: flex;
    flex-direction: row;
    background-color: rebeccapurple;
}

.title {
    position: absolute;
    top: 5%; 
    left: 15%;
    font-size: medium;
}

