@import "./common.scss";
@import "./score-wheel.scss";

$font-size: 16px;
$header-size: 18px;
$general-score-size: 75px;
$detailed-score-size: 50px;
$general-score-outline: 0.8;


body {
    background-color: #f8f8f8;
}
body::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.wrapper {
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    font-family: interFont;
    gap: calc(0.875*$font-size);
    box-sizing: border-box;
    padding: $font-size;
}

.top-component {
    width: 100%;
    height: $header-size;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-item {
    width: $header-size;
    margin: 0px 4px;
    cursor: pointer;
}

.top-item > i {
    line-height: 0;
    font-size: $header-size;
    color: #2c2c2c;
}

.top-item > i:hover {
    color: #919191;
}

.body-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(0.75*$font-size);
}

.body-item {
    width: 100%;
}

.body-item.card {
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #cccccc;
    box-sizing: border-box;
    padding: $font-size;
}

.horizontal-line {
    width: 85%;
    align-self: center;
    border-bottom: 1px solid #cecece ;
}

#website-title {
    font-size: calc(1.25*$font-size);
    text-align: center;
    font-weight: bold;
}

.general-score-container {
    display: flex;
    flex-direction: row;
    gap: calc(1.125*$font-size);
}

.general-score-left {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.general-score-right {
    font-size: calc(0.9*$font-size);
}

.general-score-label {
    font-weight: bold;
    font-size: calc(1.01*$font-size);
    text-align: center;
    white-space: nowrap;
    margin-bottom: calc(0.75*$font-size);
}

.score-graphic {
    margin: auto;
}

.score, .percent-symbol {
    font-weight: bold;
    font-family: oswaldFont;
    line-height: 0;
}

.general-score-right {
    margin: auto;
}

.detailed-scores {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.detailed-score-header-graphic {

    .label {

        font-family: oswaldFont;
        font-weight: bold;
        text-align: center;
        display: block;
        font-size: 1.6*$font-size;

        .smaller {
            font-size: (1.6*$font-size)*0.4;
            padding-bottom: $font-size*0.7;
            vertical-align: super;
        }
    
    }

}

.detailed-score-header-label {
    font-weight: bold;
    font-size: calc(1.01*$font-size);
    white-space: nowrap;
    margin: auto 0.5*$font-size;
}

.MuiAccordionSummary-content {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.Mui-expanded:before {
    opacity: 1 !important;
    
}

.MuiAccordion-root:before {
    left: $font-size !important;
    right: $font-size !important;
}

.MuiTypography-root {
    font-size: 0.9*$font-size !important;
}