@import "../../../../styles/common.scss";
/* ==================================================================== */
/* -------------------------------------------------------------------- */
/*                                                                      */
/*                          DASHBOARD CSS                               */
/*                                                                      */
/* -------------------------------------------------------------------- */
/* ==================================================================== */

.dashboard-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 2*$font-size 2*$font-size;
    grid-auto-flow: column;
    grid-template-areas:
        ". ."
        ". .";
    width: 85%;
}

.dashboard-box {
    border-radius: $font-size;
    border: solid 1px lightgray;
    box-shadow: 1px 1px 4px lightgray;
    padding: $font-size;
    width: 100%;
}

.graph-title {
    text-align: center;
    margin: auto;
    margin-bottom: 1*$font-size;
    color: $dark-grey;
    font-weight: bold;
}

.graph-title .MuiDivider-root::before,
.graph-title .MuiDivider-root::after {
    border-top: solid 2px $dark-grey !important;
    opacity: 0.6;
}

.graph-explanation {
    margin-top: 1*$font-size;
    text-align: center;
}

.graph {
    user-select: none;
}

#cookie-histogram-wrapper {
    width: 100%;
}

#score-line-chart-wrapper .recharts-default-legend,
#cookie-line-chart-wrapper .recharts-default-legend {
    margin-top: -2*$font-size !important;
}

.dashboard-box .MuiTable-root {
    width: 80% !important;
    height: 300px !important;
    margin: auto !important;
}

.dashboard-box .MuiTableCell-head {
    font-size: $font-size !important;
}

.dashboard-box .MuiTableCell-root {
    border: none !important;
    padding: 0.5*$font-size !important;
}

.dashboard-box .table-content-cell {
    margin: auto;
    display: flex;
    gap: $font-size;
    justify-content: center;
    justify-items: center;
}

.dashboard-box .table-right-border-cell {
    border-right: 1px solid lightgray !important;
}

.dashboard-box .table-header-cell {
    border-bottom: 1px solid lightgray !important;
    font-size: 1.1*$font-size !important;
}

.dashboard-box .table-top-padding-cell {
    padding-top: $font-size !important;
}